extends layout

block content
  h1= "Home Page"
  body 
    img#dog-image(text-align="right", style="width:200px;height:200px;")
    //- p Search Trainers:
    //-     input(type="text" name="trainer_query" id="trainer_query" placeholder="")
    //- br
    .ui.green.button#dog-image-btn
        |   Dog
    br
    br
    br
    .ui.blue.button#view_profile
        |   Visit Profile
    br
    br
    .ui.blue.button#create_profile
        |   Complete Profile
    br
    br
    br
    .ui.blue.button#delete_profile
        |   Delete Profile
    br
    br
    br
    .ui.blue.button#logout
        |   Log Out
    br
    h1= "Trainers"
    h2= trainers
    br
    br 
    h1= "Trainees"
    h2= trainees                                             





