
extends layout

block content
  head
    title=title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    .card
    h1= name
    h5=username
    h5=email
    h5=userType
    h5=bio
    h5=goals
    h5=experience
    h5=clients
    br
